<div class="modal-header">
    <h4 class="modal-title">Set new password</h4>
    <button type="button" class="close" data-dismiss="modal" ng-click="vmChangePassword.cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>
<div class="modal-body plan-modal new-plan__step-content">
    <div class="form-group">
        <plan-field-input tip="Enter current password"
                          errors="vmChangePassword.errors.oldPassword"
                          ng-if="!vmChangePassword.blankPassword"
                          required="true">
            <input class="form-control" type="password" ng-model="vmChangePassword.passwordData.oldPassword"
                   placeholder="Current password">
        </plan-field-input>
        <plan-field-input tip="Enter new password"
                          errors="vmChangePassword.errors.newPassword"
                          required="true">
            <input class="form-control" type="password" ng-model="vmChangePassword.passwordData.newPassword"
                   placeholder="New password">
        </plan-field-input>
        <plan-field-input tip="New password one more time"
                          errors="vmChangePassword.errors.passwordConfirmation"
                          required="true">
            <input class="form-control" type="password" ng-model="vmChangePassword.passwordConfirmation"
                   placeholder="Confirm new pasword">
        </plan-field-input>
    </div>
</div>
<div class="modal-footer footer-new-item">
    <button class="btn btn-primary button-next button-common-modal" ng-click="vmChangePassword.save()">Save</button>
</div>